html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
html {
  overflow-y: hidden !important;
  background-image: url('../media/background.jpg'),
    linear-gradient(
      180deg,
      rgba(211, 214, 223, 1) 0%,
      rgba(206, 208, 220, 1) 38%,
      rgba(179, 183, 201, 1) 67%,
      rgba(123, 132, 175, 1) 100%
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p.subtitle {
  padding-top: 1rem;
}
a {
  color: #fff;
}
a:hover {
  color: #d3d6df;
}
.title.is-1 {
  font-size: 5rem;
}
.footer-text a {
  color: white;
}
img.logo {
  max-width: 50%;
  width: 250px;
  margin-bottom: 20px;
}
